.hover_video {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 36px auto 35px;
  cursor: pointer;
  width: 475px;
  max-width: 80%;
  text-align: center;
}
